color1 {
    background-color: #9b5de5;
    background-color: #f15bb5;
    background-color: #fee440;
    background-color: #00bbf9;
    background-color: #00f5d4;
}

color2 {
    background-color: #eaf2e3;
    background-color: #61E8E1;
    background-color: #f25757;
    background-color: #f2e863;
    background-color: #F2CD60;
}