.mainQuestionForm{
    background-color: #00f5d4;
}
.questionForm {
    display: flex;
    flex-direction: column;
}
.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.singleQuestion {
    width: 25%;
    background-color:white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 10px 5px 5px #00bbf9;
    border: solid #fee440 5px;
    align-items: center;
}
input{
    width: 130px;
}